{% extends 'base.html.twig' %}

{% block title %}Naves estelares: Transmita algumas peças!{% endblock %}

{% block body %}
<h1>
    Naves estelares: sua opção de acabar com o monopólio de peças espaciais!
</h1>
<div>
    Navegue por {{ naves|length * 10 }} naves!
    {% if naves|length > 2 %}
        <p>
            Isso é um monte de naves!
        </p>
    {% endif %}
</div>

<div>
    <h2>Minha Nave</h2>

    <table>
        <tr>
            <th>Nome</th>
            <td>
                <a href="{{ path('app_nave_show', { id: minhaNave.id }) }}">
                    {{ minhaNave.name }}
                </a>
            </td>
        </tr>
        <tr>
            <th>Classe</th>
            <td>{{ minhaNave.class }}</td>
        </tr>
        <tr>
            <th>Capitão</th>
            <td>{{ minhaNave.captain|upper|lower|title }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ minhaNave.status }}</td>
        </tr>
    </table>
</div>
{% endblock %}